### [파일 입력과 출력]
- pandas.read_XXX(): 다양한 포맷의 파일 ==> DataFrame으로 변환
    * 파일 종류에 따라서 변환 시 설정 필요함!

- pandas.to_XXX(): DataFrame ==> 다양한 포맷 str 또는 file 변환

In [1]:
## [1] 모듈 로딩
import pandas as pd

In [2]:
FILE_NAME = '../Data/test.csv'

csvDF = pd.read_csv(FILE_NAME)

## 출력
csvDF

   c0  c1  c2  c3
0  10   9   8   3
1  78   4   7   2
2   6   2   9  12
3   7   8   9   3

In [3]:
FILE_NAME = '../Data/no_comma.csv'      # '/'로 구분되어 있는 파일
csvDF = pd.read_csv(FILE_NAME, sep='/')

## 출력
csvDF

   c0  c1  c2  c3
0  10   9   8   3
1  78   4   7   2
2   6   2   9  12
3   7   8   9   3

In [4]:
FILE_NAME = '../Data/no_head.csv'

## 컬럼이 없는 데이터라고 header로 명시
csvDF = pd.read_csv(FILE_NAME, header=None)

## 출력
csvDF

    0  1  2   3
0  10  9  8   3
1  78  4  7   2
2   6  2  9  12
3   7  8  9   3

In [5]:
FILE_NAME = '../Data/test.csv'

## c0 컬럼을 행인덱스 설정
## index_col 매개변수 -> 1개 index_col='컬럼명'
##                   -> 2개 index_col=['컬럼명1', '컬럼명2']
csvDF = pd.read_csv(FILE_NAME, index_col=['c0', 'c1'])

## 출력
csvDF

       c2  c3
c0 c1
10 9    8   3
78 4    7   2
6  2    9  12
7  8    9   3

In [6]:
## 일부 컬럼만 DataFrame으로 저장
FILE_NAME = '../Data/test.csv'

csvDF = pd.read_csv(FILE_NAME, usecols=['c1', 'c2'])        # 사용할 컬럼을 직접 입력
csvDF2 = pd.read_csv(FILE_NAME, usecols=[1, 2])             # 사용할 컬럼의 인덱스를 입력

## 출력
print(csvDF, csvDF2, sep='\n\n')

   c1  c2
0   9   8
1   4   7
2   2   9
3   8   9

   c1  c2
0   9   8
1   4   7
2   2   9
3   8   9